body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg-gradient {
    background: linear-gradient(to right, #ffbf00, #ff0080);
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile-picture {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#role {
    font-size: 2rem;
    margin-top: 20px; /* Adjust spacing */
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

#welcome-text {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
